.detalle-cancion-card{
   
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    margin-left: 20vw;
    height: 81.5vh;
}


.imagen{
    border-radius: 5%;
    box-shadow: 7px 7px 7px #830A0A;
}

.songPrev {
    max-height: 1000px;
}

.cargando{
    color:rgb(255, 98, 0)
}