.detalle-album-card {
    display: flex;
    flex-direction: row;
    width: 18vw;
    margin-left: 20vw;
    margin-top: 10vw ;
    height: 81.5vh;
}

.detalle-album-left{
    margin-right: 100px;
} 
.textoDetalle {
    color: white;
}
.imagen-detalle-album{
    border-radius: 5%;
    box-shadow: 7px 7px 7px #830A0A;
    width: 300px;
}