header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0A767B;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 20px;
}

h1{
    text-shadow: 4px 4px 4px white;
}