header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #830A0A;
    border-radius: 100px / 10px;
    box-shadow: -6px 10px 30px rgba(237, 81, 19, 0.6); 
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 20px;
}

h1{
    text-shadow: 4px 4px 4px #FF5733;
}

ul{
    color:black;
}

a{
    color: black;
}