h3 {
    inline-size: 250px;
    overflow-wrap: break-word;
    color: white ;
}

.show{
    display: block;
}

.hide{
    display: none;
}
.cancion{
    justify-content: center;
    padding-left: 0.1 vw;
    padding-right: 0.1vw;
    width: 18vw;
    margin-bottom: 5vh;
}
.links{
    text-decoration: none;
    color: white;
}
.cover{
    border-radius: 5%;
    box-shadow: 7px 7px 7px #514747af;
}
.link{
    color: black;
    background-color: #ccc;
    border-radius: 6px;
    font-size: 15px;
    border: white;
    width: 200px;
    height: 40px;
    
}
.link:hover{
    color: white;
    font-weight: bold;
    background-color: #ccc;
    border-radius: 6px;
    font-size: 17px;
    border: white;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(166, 160, 160, 0.19);
    
}
.detalle{
    color: white;
    text-decoration: none;
    font-weight: bold;
}